clear_integral:
  name: Clear Integral
  description: Clears the integrating part of the PID.
  target:
    entity:
      integration: smart_thermostat
      domain: climate
set_pid_mode:
  name: Set PID mode
  description: Selects the PID regulation auto or off.
  target:
    entity:
      integration: smart_thermostat
      domain: climate
  fields:
    mode:
      name: PID Mode
      description: PID operating mode.
      required: true
      advanced: false
      example: 'auto'
      default: 'auto'
      selector:
        select:
          options:
            - 'auto'
            - 'off'
set_pid_gain:
  name: Set PID gains
  description: Sets the kp, ki and kd gains for the PID.
  target:
    entity:
      integration: smart_thermostat
      domain: climate
  fields:
    kp:
      name: Kp gain
      description: Proportional gain
      required: false
      advanced: false
      example: 12.5
      selector:
        number:
          min: 0
          max: 1000000
          step: 0.001
          mode: box
    ki:
      name: Ki gain
      description: Integral gain
      required: false
      advanced: false
      example: 0.007
      selector:
        number:
          min: 0
          max: 1000000
          step: 0.001
          mode: box
    kd:
      name: Kd gain
      description: Derivative gain
      required: false
      advanced: false
      example: 345.12
      selector:
        number:
          min: 0
          max: 1000000
          step: 0.001
          mode: box
    ke:
      name: Ke gain
      description: External temperature compensation gain
      required: false
      advanced: false
      example: 1.2
      selector:
        number:
          min: 0
          max: 1000000
          step: 0.001
          mode: box
set_preset_temp:
  name: Set preset modes temperature
  description: Sets the temperature for the preset modes.
  target:
    entity:
      integration: smart_thermostat
      domain: climate
  fields:
    away_temp:
      name: Away
      description: Away mode temperature
      required: false
      advanced: false
      example: 14.0
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    eco_temp:
      name: Eco
      description: Eco mode temperature
      required: false
      advanced: false
      example: 17.5
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    boost_temp:
      name: Boost
      description: Boost mode temperature
      required: false
      advanced: false
      example: 22.0
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    comfort_temp:
      name: Comfort
      description: Comfort mode temperature
      required: false
      advanced: false
      example: 21.0
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    home_temp:
      name: Home
      description: Home mode temperature
      required: false
      advanced: false
      example: 19.0
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    sleep_temp:
      name: Sleep
      description: Sleep mode temperature
      required: false
      advanced: false
      example: 18.5
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    activity_temp:
      name: Activity
      description: Activity mode temperature
      required: false
      advanced: false
      example: 20.0
      selector:
        number:
          min: 0
          max: 95
          step: 0.1
          mode: slider
    away_temp_disable:
      name: Disable away
      description: Disable the away mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
    eco_temp_disable:
      name: Disable eco
      description: Disable the eco mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
    boost_temp_disable:
      name: Disable boost
      description: Disable the boost mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
    comfort_temp_disable:
      name: Disable comfort
      description: Disable the comfort mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
    home_temp_disable:
      name: Disable home
      description: Disable the home mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
    sleep_temp_disable:
      name: Disable sleep
      description: Disable the sleep mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
    activity_temp_disable:
      name: Disable activity
      description: Disable the activity mode temperature
      required: false
      advanced: false
      example: true
      selector:
        boolean:
